        <title>Music to MIDI: Transcription App</title>
    </head>

    <body>
        <!-- List of uploaded documents -->
        {% if files %}
            All documents in the database:
            <ul>
                {% for file in files %}
                    <li><a href="{{ file.docfile.url }}">{{ file.docfile.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No files.</p>
        {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "FileHandler" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <center>{{ message }}</center>
            <p>{{ form.non_field_errors }}</p>

            <p><center>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</center></p>

            <p>
                {{ form.docfile.errors }}
                <center>{{ form.docfile }}</center>
            </p>

            <p><center><input type="submit" value="Upload"/></center></p>
        </form>

    </body>

</html>
